---
import { Content as Solutions } from '../content/markdown/thesisSolutions.md'
import Layout from '../layouts/Layout.astro'
import Section from '../components/ui/Section.astro'
// - SEO
const SEO = {
	title: 'Solution',
	description:
		""
}
---

<!doctype html>
<html lang="en">
	<Layout title={SEO.title} description={SEO.description}>
		<Section>
			<Solutions class="m-8" />
		</Section>
	</Layout>
</html>
