---
// Blog Card
// ------------
// Description: A blog card with a title, a subtitle, a description and a grid of testimonials
// Properties:
// - title: The title of the blog card
// - image: The image of the blog card
// - video: The video of the blog card
// - link: The link of the blog card
// - author: The author of the blog card
// - date: The date of the blog card
// - classes: The classes of the blog card

// Components
// - UI
import Card from './Card.astro'
// - Scripts
import { postSubtitle } from '../../../components/scripts/postScripts.ts'

// Content
// - Props
type Props = {
	title?: string
	image?: any
	video?: any
	link?: string
	author?: string
	date?: string
	classes?: string
}
const { title = '', image, video, link, classes, author, date } = Astro.props
---

<div class="flex flex-col gap-7.5">
	<Card
		image={image}
		video={video}
		classes={`${classes ? classes : ''}`}
		cardMediaClasses="h-[600px]"
		mediaEffect="parallax"
	/>
	<Card title={title} subtitle={postSubtitle(author, date)} titleLink={link} />
</div>
